/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 25.01.2010
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

#menus, #menus * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menus {
    width:173px;
    position:relative;
    z-index:999;
    background:url(imagensMenuSecretaria/base.png);
    padding-top:20px;
}
#menus ul {
    background:url(imagensMenuSecretaria/base.png) 0 bottom;
    padding-bottom:11px;
}
* html #menus, * html #menus ul { background-image:url(imagensMenuSecretaria/base.gif); }
#menus div {
    width:180px;
    position:relative;
    background:url(imagensMenuSecretaria/sub.png) -180px 0;
    padding-top:9px;
}
#menus div ul {
    background:url(imagensMenuSecretaria/sub.png) 0 bottom;
    padding-bottom:5px;
}
* html #menus div, * html #menus div ul { background-image:url(imagensMenuSecretaria/sub.gif); }
*+html #menus li { border-bottom:1px solid transparent; }
#menus li div {
    visibility:hidden;
    position:absolute;
    margin:-44px 0 0 -2px;
    left:100%;
}
* html #menus li div, *+html #menus li div { margin-top:-42px; }
#menus li:hover>div { visibility:visible; }
* html #menus li { height:34px; }
#menus li a {
    display:block;
    font-size:11px;
    font-family:'Trebuchet MS', Arial, Verdana;
    font-weight:bold;
    text-decoration:none;
    color:#fff;
    padding-top:11px;
    cursor:pointer;
    position:relative;
    z-index:9;
}
*+html #menus li a { padding-top:12px; }
* html #menus li a { padding-top:10px; }
#menus li.current a,
#menus li a:hover { background:url(imagensMenuSecretaria/base-select.gif) no-repeat -163px 0; }
#menus li span {
    line-height:14px;
    padding:0 19px 11px 17px;
    display:block;
}
*+html #menus li span { padding-bottom:10px; }
* html #menus li span {
    height:24px;
    padding-bottom:2px;
}
#menus li.current a span,
#menus li a:hover span { background:url(imagensMenuSecretaria/base-select.gif) no-repeat 5px bottom; }
#menus li a:hover span { color:#515151; }
#menus li a.parent:hover span { background:url(imagensMenuSecretaria/base-select.gif) no-repeat -331px bottom; }
#menus.js-active li.current a,
#menus.js-active li.current a span,
#menus.js-active li a:hover,
#menus.js-active li a:hover span { background-image:url(imagensMenuSecretaria/pix.gif); }
#menus li a.parent span, #menus.js-active li a.parent span { background:url(imagensMenuSecretaria/base-select.gif) no-repeat -499px bottom; }
#menus li.current li a,
#menus li.current li a span { background-image:url(imagens_Menu_Secretaria/pix.gif); }
#menus li li { border:0; }
#menus li li a span { color:#515151; }
#menus li li a.parent span, #menus.js-active li li a.parent span { background:url(imagensMenuSecretaria/sub-select.gif) no-repeat -520px bottom; }
#menus li li a:hover, #menus.js-active li li a:hover { background:url(imagensMenuSecretaria/sub-select.gif) no-repeat -170px 0; }
#menus li li a:hover span,
#menus.js-active li li a:hover span 
{
    background:url(imagensMenuSecretaria/sub-select.gif) no-repeat 5px bottom;
    color:#fff;
}
#menus li li a.parent:hover span, #menus.js-active li li a.parent:hover span { background:url(imagensMenuSecretaria/sub-select.gif) no-repeat -345px bottom; }
#menus li.back {
    width:170px;
    z-index:8;
    position:absolute;
    background:url(imagensMenuSecretaria/lavalamp.gif) no-repeat 5px bottom;
}
#menus li.back .left {
    width:170px;
    float:none;
    position:relative;
    top:0;
    left:0;
    height:7px;
    overflow:hidden;
    padding:0;
    margin:0;
    visibility:visible;
    background:url(imagensMenuSecretaria/lavalamp.gif) no-repeat -163px 0;
} 
